 <ul>
    <li><a href="#"><i class="fa fa-fw fa-home"></i> Home</a></li>
    <li><a routerLink="news"><i class="fa fa-fw fa fa-rss"></i> News</a></li>
    <li><a routerLink="contactus"><i class="fa fa-fw fa-envelope"></i> Contact Us </a></li>
    <li><a href="#"><i class="fa fa-fw fa fa-plus-square"></i> Our Services </a></li>
    <li><a routerLink="aboutus"><i class="fa fa-fw fa fa-history"></i> About Us </a></li>
    <li style="float:right"><a class ="active" routerLink="login" *ngIf="!loggedIn"><i class="fa fa-fw fa-sign-in"></i> Login</a></li>
    <li style="float:right"><a class ="active" href="#" (click)="logout($event)"  *ngIf="loggedIn"><i class="fa fa-fw fa-sign-out"></i> Logout</a></li>
    <li style="float: right"><a routerLink="profile" *ngIf="loggedIn" ><i class="fa fa-fw fa-user"></i> Profile</a></li>
 </ul>
       