   
<mat-card>    
    <!-- Title of an Card -->    
    <mat-card-title>    
            Please provide your registration details   
    </mat-card-title>    
    
    <mat-card-content>    
        <form #signupForm=ngForm (ngSubmit)="onSubmit()">    
            <table>    
                <tr>    
                    <td colspan="2">     
                        <mat-form-field class="demo-full-width">    
                            <input matInput placeholder="Full Name" name="name"  [(ngModel)]="form.name" required>    
                        </mat-form-field>    
                    </td>

                </tr> 
                
                <tr>
                    <div class="alert alert-danger" [hidden]="!error.name">
                        {{error.name}}
                    </div>
                </tr> 

                <tr>    
                    <td colspan="2">    
                        <mat-form-field class="demo-full-width">    
                            <input matInput placeholder="Enter your email" name="email"  [(ngModel)]="form.email" required> 
                        </mat-form-field>    
                    </td>  

                </tr>
                <tr>
                    <div class="alert alert-danger" [hidden]="!error.email">
                        {{error.email}}
                    </div>
                </tr> 
                
                <tr>    
                    <td colspan="2">    
                        <mat-form-field class="demo-full-width">    
                            <input matInput placeholder="Your Password" type="password" name="password" [(ngModel)]="form.password" required > 
                        </mat-form-field>    
                    </td>

                </tr> 
                <tr>
                    <div class="alert alert-danger" [hidden]="!error.password">
                        {{error.password}}
                    </div>
                </tr>    

                <tr>    
                    <td colspan="2">    
                        <mat-form-field class="demo-full-width">    
                            <input matInput placeholder="Confirm your Password" type="password" name="confirm" [(ngModel)]="form.confirm" required  > 
                        </mat-form-field>    
                    </td>   
                
                </tr>   
                <tr>
                    <div class="alert alert-danger" [hidden]="!error.confirm">
                        {{error.confirm}}
                    </div>
                </tr> 
                
                
                <tr>    
                    <td colspan="2" class="content-center">    
                        <button mat-raised-button color="accent" type="submit"
                        [disabled]="!signupForm.valid">Submit</button>      
                    </td>    
                </tr>
                <tr>
                    <p>Already have an Account?<a routerLink="/login">  Log in</a></p>
                </tr>  
            </table>    
        </form>    
    </mat-card-content>    
</mat-card>   
